**Disclaimer:**

1. Questions 1-3 results were aided by the Week4 and Week5 Notebooks, and were completed in IDLE<br>
2. Questions 4-9 results were aided by the Week6 Notebook, and were completed in IDLE

# Question 1

Consider the following Python module:

<pre><code>a = 0

def b():  
    global a
    a = c(a)
    
def c(a):  
    return a + 2  
</code></pre>
    
After importing the module into the interpreter, you execute:

\>>> b() <br>
\>>> b() <br>
\>>> b() <br>
\>>> a <br>
? <br>

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a+2

In [2]:
b()
b()
b()
a

6

<ol>
    <li>Starts by setting a = 0</li>
    <li>b()</li>
    <ol>
        <li>sets variable a to global, meaning references to a inside the function is shared outside of the function as well (it doesn’t matter that the function is not taking an argument, because a is global it will take the value from outside the function (which is currently 0))</li>
        <li>a is assigned with the result of function c() passing a as it’s argument</li>
        <li>function c() takes in a as an argument and returns the value of a+2 back to the variable a inside function b()</li>
        <li>a globally is now 2</li>
    </ol>
    <li>b()</li>
    <ol>
        <li>because a is global, it takes the value of a = 2 and passes it to function c()</li>
        <li>function c() takes in a which is 2, adds 2 and returns it back to function b()</li>
        <li>b() passes it globally outside the function</li>
        <li>a is now 4</li>
    </ol>
    <li>b()</li>
    <ol>
        <li>repeats again passing 4 to function c()</li>
        <li>function c() adds 2 again and passes it back to function b()</li>
        <li>function b() passes it globally</li>
        <li>a is now 6</li>
    </ol>
    <li>a</li>
    <ol>
        <li>a is called which displays its current value of 6</li>
    </ol>
</ol>

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:<br>

*example error message*

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File {} not found".format(file_name))

# Question 3

Write a class named Marsupial that can be used as shown below:<br>

*example*

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br>
-    extends the Marsupial \_\_init\_\_ constructor to take, as input, the coordinates x and y o the Kangaroo object,
-    supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
-    overloads the \_\_str\_\_ operator so it behaves as shown below<br>

*example*

In [8]:
class Marsupial:
    ### this class will generate a list of items in the pouch,
    ### and print the list of pouch contents

    def __init__(self):
        # create an empty pouch list
        self.pouch = []

    def put_in_pouch(self, item):
        # add items to the pouch list
        self.item = item
        self.pouch.append(self.item)

    def pouch_contents(self):
        # print the pouch list
        print(self.pouch)

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    ### this class will inherit attributes from Marsupial and take
    ### in x,y coordinates of the Kangaroo location. It will move
    ### the location of the kangaroo when it jumps, and will also
    ### display the location of the kangaroo with a print() method

    def __init__(self, coordx, coordy):
        # create an empty pouch list
        self.pouch = []
        self.x = coordx
        self.y = coordy

    def jump(self, dx, dy):
        # move the kangaroo location
        self.x += dx
        self.y += dy

    def __str__(self):
        # return the current location in a print() method
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

In [11]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

if x is even, x = x/2
if x is odd, x = 3x+1

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [12]:
def collatz(x):
    print(x)
    if x != 1:
        if x%2 == 0:
            x /= 2
            return collatz(x)
        else:
            x = (3*x)+1
            return collatz(x)

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [100]:
def binary(x, result='5'):
    if result == '5':   #create empty string
        global b        #holding label for printed result
        b = str(x)
        result = ''     #declare an empty string to hold converted numeric results
        if x == 0:      #if number entered is 0
            result = '0'
    if x > 0:           #base case
        result = (str(x%2)) + result
        x //= 2
        return binary(x, result)   #recursion
    print("Binary of {} is {}".format(b, result))

In [101]:
binary(0)
binary(1)
binary(3)
binary(9)

Binary of 0 is 0
Binary of 1 is 1
Binary of 3 is 11
Binary of 9 is 1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows:<br>
-    an h1 heading should have indendataion 0
-    an h2 heading should have indentation 1
-    etc.

Test your implementation using w3c.html

In [1]:
from html.parser import HTMLParser
import os
from re import findall

class HeadingParser(HTMLParser):

    def __init__(self):
        HTMLParser.__init__(self)
        self.text = ''
        self.dtmt = ''
        self.i = 1
        self.t = ''
        
    def handle_starttag(self, tag, attrs):
        headers = findall('h[0-9]',tag)
        for head in headers:
            self.text = head
            return self.text

    def handle_data(self, data):
        numbers = findall('[0-9]',self.text)
        for num in numbers:
            num = int(num)
            if num == self.i:
                print(self.t,data)
                self.i += 1
                self.t = self.t + "\t"

In [2]:
infile = open('w3c.txt')
content = infile.read()
infile.close()
headingparser = HeadingParser()
headingparser.feed(content)

 W3C Mission
	 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate depth of a URL.

In [10]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
import re
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

def analyze(url):

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links

    return urls

visited = set() # initialize visited to an empty set

def crawl2(url, depth, indent):
    t = "\t"
    print((t*indent), url)
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    #analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)
    # recursively continue crawl from every link in links
    for link in links:
        crawl2(link, (depth-1), (indent+1))

In [11]:
url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
crawl2(url, 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
	 http://reed.cs.depaul.edu/lperkovic/test2.html
		 http://reed.cs.depaul.edu/lperkovic/test4.html
	 http://reed.cs.depaul.edu/lperkovic/test3.html
		 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

Write SQL queries on the below database table that return:
<ol>
    <ol>
        <li> All the temperature data</li>
        <li> All the cities, but without repetition</li>
        <li> All the records for India</li>
        <li> All the Fall records</li>
        <li> The city, country, and season for which the average rainfall is between 200 and 400 millimeters</li>
        <li> The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order</li>
        <li> The total annual rainfall for Cairo</li>
        <li> The total rainfall for each season</li>
    </ol>
</ol>

In [1]:
%load_ext sql

In [3]:
%sql sqlite://

In [49]:
%sql CREATE TABLE Weather (City nvarchar(20), Country nvarchar(50), Season nvarchar(20), Temperature decimal(4, 1), Rainfall decimal(6,1));
%sql INSERT INTO Weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
%sql INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2);
%sql INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4);
%sql INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0);
%sql INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7);
%sql INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6);
%sql INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0);
%sql INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5);
%sql INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
%sql INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
%sql INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
%sql INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

[]

In [50]:
%sql select * from Weather

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### a) all the temperature data

In [51]:
%sql Select Temperature From Weather

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b) all the cities, but without repetition

In [52]:
%sql Select Distinct(City) From Weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### c) all the records for India

In [53]:
%sql Select * From Weather Where Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

### d) all the fall records

In [54]:
%sql Select * From Weather Where Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e) the city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [55]:
%sql Select City, Country, Season From Weather Where Rainfall Between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### f) the city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [56]:
%sql Select City, Country From Weather Where Temperature > 20 and Season = 'Fall' Order By Temperature

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### g) the total annual rainfall for Cairo

In [57]:
%sql Select Sum(Rainfall) From Weather Where City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

### h) the total rainfall for each season

In [75]:
%sql Select Season, Round(Sum(Rainfall), 1) From Weather Group By Season

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

Suppose list words is defined as follows:<br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] <br>

Write list comprehension expressions that use the list words and generate the following lists:

### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [80]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [word.upper() for word in words]
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [81]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [word.lower() for word in words]
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)

In [84]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [len(word) for word in words]
print(words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [83]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [[word.upper(), word.lower(), len(word)] for word in words]
print(words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters)

In [90]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words = [word for word in words if len(word) >= 4]
print(words)

['quick', 'brown', 'jumps', 'over', 'lazy']